<frameset>
  <predicate lemma="spring">
    <roleset id="spring.01" name="to develop, appear suddenly, jump">
      <roles>
        <role descr="entity in motion" f="pag" n="1"/>
        <role descr="start point" f="dir" n="2"/>
        <role descr="end point/state" f="gol" n="3"/>
      </roles>
    </roleset>
  </predicate>
  <predicate lemma="spring_up">
    <roleset id="spring_up.02" name="to develop, appear suddenly">
      <roles>
        <role descr="entity springing up" f="ppt" n="1"/>
      </roles>
    </roleset>
  </predicate>
</frameset>
